@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #8B3A8A;
  --color-primary-dull: #6B2B6A;
  --color-light: #F3E6F3;
  --color-borderColor: #E6D3E6;
}

@layer base {
  html {
    font-family: "Outfit", sans-serif;
  }
}