@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #E91E63;
  --color-primary-dull: #C2185B;
  --color-light: #FCE4EC;
  --color-borderColor: #F8BBD0;
}

@layer base {
  html {
    font-family: "Outfit", sans-serif;
  }
}